swiper-slide {
    height: 330px;
  }
  
  h4 {
    color: var(--primary-color);
    margin: 0.5rem 0;
  }
  
  .period {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  .skills {
    margin-top: 1rem;
  }
  